

 
<div class="jumbotron">

       
        <h1 class="text-center" id="serv" data-aos="fade-top">SERVICIOS</h1>
        <hr style="height:3px;margin:auto; width:100px; background:blue;"  data-aos="top"  data-aos-duration="300">
        <br>
        <br>
        <br>
        <br>
<div class="container-fluid">
        <section class="main row">
            
            
            <article class="col-lg-4  " data-aos=""  data-aos-duration="200">
                <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISION ELÉCTRICA</h5><img  class=" mx-auto d-block"  style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"  src="/img/rayo.png"></button>
                
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton" >
                    <a class="dropdown-item" href="#dropdown-item" >INSTALACIONES ELÉCTRICAS</a>
                    <a class="dropdown-item" href="#dropdown-item">MANTENIMIENTO A INSTALACIONES ELÉCTRICAS</a>
                    <a class="dropdown-item" href="#dropdown-item">TRANSFORMADORES DE BAJA TENSION</a>
                    <a class="dropdown-item" href="#dropdown-item">TABLEROS ELÉCTRICOS DE CONTROL</a>
                    <a class="dropdown-item" href="#dropdown-item">REUBICACIÓN MEDIDOR CFE</a>
                    <a class="dropdown-item" href="#dropdown-item">INSTALACIÓN 5TA TERMINAL</a>
                    <a class="dropdown-item" href="#dropdown-item">CAMBIO 110V A 220V</a>
            </div>
            
           
        </article>   
        
      
   


           

<aside  class="col-lg-4 "  data-aos=""  data-aos-duration="800">
                    <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISIÓN NEUMÁTICA</h5><img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"   src="/img/pneum.png"></button>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#dropdown-item">INSTALACIONES EN TUBERIA NEUMÁTICA</a>
                        <a class="dropdown-item" href="#dropdown-item">INSTALACION COMPRESORES</a>
                        
                        
                        </div>

                    </aside> 
            
                    <aside  class="col-lg-4 "  data-aos=""  data-aos-duration="800">
		
                   
                        <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISIÓN SOLAR</h5><img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"   src="/img/solico.png"></button>
                       
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#dropdown-item">PANELES SOLARES</a>
                            <a class="dropdown-item" href="#dropdown-item">SISTEMA INTERCONECTADO</a>
                            <a class="dropdown-item" href="#dropdown-item">SISTEMAS AISLADOS</a>
                            <a class="dropdown-item" href="#dropdown-item">CARPOTS</a>
                            <a class="dropdown-item" href="#dropdown-item">BOMBEO SOLAR</a>
                            <a class="dropdown-item" href="#dropdown-item">BOILER SOLAR</a>
                            </div>
                        
                       
                    </aside>  
        
        




		</section>
	    <!--Aqui arriba iva section-->
               
  
</div>
        
		<!--</div> de container fluid-->
        <br>
        <br>
        <br>
        <br>
        
       
        <div class="container-fluid">
                <section class="main row">

        
                        <aside  class="col-lg-4 "  data-aos=""  data-aos-duration="800">
                                <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISIÓN HIDRÁULICA</h5><img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"   src="/img/pump23.png"></button>
                                
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#dropdown-item">BOMBAS PRESURIZADORAS</a>
                                    <a class="dropdown-item" href="#dropdown-item">HIDRONEUMÁTICOS</a>
                                    <a class="dropdown-item" href="#dropdown-item">BOILER DE PASO</a>
                                    <a class="dropdown-item" href="#dropdown-item">INSTALACIÓN DE TUBERÍA HIDRÁULICA</a>
                                    
                                    </div>
            
                                </aside> 
        
                    <aside  class="col-lg-4 "  data-aos=""  data-aos-duration="800">
                            <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISIÓN CLIMATICA</h5><img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"   src="/img/refcal.png"></button>
                            
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#dropdown-item">MINISPLITS</a>
                                <a class="dropdown-item" href="#dropdown-item">AIRE EVAPORATIVO</a>
                                <a class="dropdown-item" href="#dropdown-item">UNIDADES PAQUETE</a>
                                <a class="dropdown-item" href="#dropdown-item">SISTEMAS DIVIDIDOS</a>
                                <a class="dropdown-item" href="#dropdown-item">CALEFACCION CENTRAL</a>
                                <a class="dropdown-item" href="#dropdown-item">SISTEMAS VRF</a>
                                <a class="dropdown-item" href="#dropdown-item">SISTEMAS AGUA HELADA</a>
                                <a class="dropdown-item" href="#dropdown-item">CHILLERS</a>
                                <a class="dropdown-item" href="#dropdown-item">HOTELERIA PTAC</a>
                                <a class="dropdown-item" href="#dropdown-item">WATER SOURCE HEAT PUMP</a>
                                </div>
        
                            </aside> 

                            <aside  class="col-lg-4 "  data-aos=""  data-aos-duration="800">
                                    <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISIÓN LED</h5><img class="mx-auto d-block" style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"   src="/img/ledf.png"></button>
                                    
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#dropdown-item">RESIDENCIAL</a>
                                        <a class="dropdown-item" href="#dropdown-item">COMERCIAL</a>
                                        <a class="dropdown-item" href="#dropdown-item">INDUSTRIAL</a>
                                        
                                        </div>
                
                                    </aside> 
    </section>
    </div>