<div class="container-fluid" style="margin-top:5em;">
<div id="demo" class="carousel slide" data-ride="carousel" >
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <center><img class="img-fluid" src="img/minisplits.png" alt="Los Angeles" width="75%" height="500"></center>
         
    </div>
    <div class="carousel-item">
	<center><img class="img-fluid" src="img/sistemas3.png" width="75%" height="500"></center>
	
  
    </div>
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/sistdiv.png" alt="Chicago" width="75%" height="500"></center>
        
    </div>

    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/sist5.png" alt="New York" width="75%" height="500"></center>
        
      
    </div>
    <div class="carousel-item">
        <center><img class="img-fluid"  src="img/hotelsist.png" width="60%" height="500px"></center>
        
      </div>

      <div class="carousel-item">
        <center><img class="img-fluid"  src="img/watersource.png" width="60%" height="500px"></center>
        
      </div>

      <div class="carousel-item">
        <center><img class="img-fluid"  src="img/unidcond.png" width="60%" height="500px"></center>
        
      </div>
      <div class="img class="img-fluid"  src="img/manejad.png" width="70%" height="500px"></center>
        
      </div>
      <div class="carousel-item">
        <center><img img class="img-fluid" src="img/minichiler.png" width="60%" height="500px"></center>
        
      </div>
      <div class="carousel-item">
        <center><img class="img-fluid"  src="img/fotochillers.png" width="60%" height="500px"></center>
        
      </div>
      <div class="carousel-item">
        <center><img class="img-fluid"  src="img/vrf.png" width="60%" height="500px"></center>
        
      </div>
    
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/airevap.png" width="60%" height="500px"></center>
      
    </div>
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/boilers.png" width="60%" height="500px"></center>
      
    </div>
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/presuri.png" width="60%" height="500px"></center>
      
    </div>
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/termoso.png" width="60%" height="500px"></center>
      
    </div>

    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/pumpss.png" width="60%" height="500px"></center>
      
    </div>
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/sistfot.png" width="60%" height="500px"></center>
      
    </div>
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/carpots.png" width="60%" height="500px"></center>
      
    </div>
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/instele.png" width="60%" height="500px"></center>
      
    </div>
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/ccms.png" width="60%" height="500px"></center>
      
    </div>
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/transform.png" width="60%" height="500px"></center>
      
    </div>
    <div class="carousel-item">
      <center><img class="img-fluid"  src="img/ilum.png" width="60%" height="500px"></center>
      
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
